.game-pane {
    -fx-background-color: black;
}

.intro {
    -fx-background-color: black;
}

.menu-background {
    -fx-background-image: url("../images/1.jpg");
    -fx-background-size: cover;
}
.menu-background2 {
    -fx-background-image: url("../images/6.jpg");
    -fx-background-size: cover;
}
.menu-background3 {
    -fx-background-image: url("../images/3.jpg");
    -fx-background-size: cover;
}

.challenge-background {
    -fx-background-image: url("../images/2.jpg");
    -fx-background-size: cover;
}

.menu {
    -fx-padding: 10;
}

.menuItem {
    -fx-fill: white;
    -fx-font-family: 'Orbitron';
    -fx-font-size: 32px;
    -fx-font-weight: 700;
    -fx-border-color: black;
    -fx-stroke: black;
    -fx-effect: dropshadow(gaussian, black, 1, 1.0, 1, 1);
}

.menuItem:hover {
    -fx-fill: yellow;
}

.menuItem.selected {
    -fx-fill: yellow;
}

.big-title {
    -fx-fill: yellow;
    -fx-font-family: 'Orbitron';
    -fx-font-size: 64px;
    -fx-font-weight: 900;
    -fx-border-color: black;
    -fx-stroke: black;
    -fx-effect: dropshadow(gaussian, black, 1, 1.0, 1, 1);
}

.title {
    -fx-fill: white;
    -fx-font-family: 'Orbitron';
    -fx-font-size: 32px;
    -fx-font-weight: 900;
    -fx-border-color: black;
    -fx-stroke: black;
    -fx-effect: dropshadow(gaussian, black, 1, 1.0, 1, 1);
}

.heading {
    -fx-fill: white;
    -fx-font-family: 'Orbitron';
    -fx-font-size: 20px;
    -fx-font-weight: 700;
    -fx-border-color: black;
    -fx-stroke: black;
    -fx-effect: dropshadow(gaussian, black, 1, 1.0, 1, 1);
}

.score {
    -fx-fill: yellow;
    -fx-font-family: 'Orbitron';
    -fx-font-size: 36px;
    -fx-font-weight: 700;
    -fx-border-color: black;
    -fx-stroke: black;
    -fx-text-alignment: center;
    -fx-effect: dropshadow(gaussian, black, 1, 1.0, 1, 1);
}

.level {
    -fx-fill: #ff6600;
    -fx-font-family: 'Orbitron';
    -fx-font-size: 24px;
    -fx-font-weight: 700;
    -fx-border-color: black;
    -fx-stroke: black;
    -fx-text-alignment: center;
    -fx-effect: dropshadow(gaussian, black, 1, 1.0, 1, 1);
}
.multiplier {
    -fx-fill: red;
    -fx-font-family: 'Orbitron';
    -fx-font-size: 24px;
    -fx-font-weight: 700;
    -fx-border-color: black;
    -fx-stroke: black;
    -fx-text-alignment: center;
    -fx-effect: dropshadow(gaussian, black, 1, 1.0, 1, 1);
}

.hiscore {
    -fx-fill: orange;
    -fx-font-family: 'Orbitron';
    -fx-font-size: 24px;
    -fx-font-weight: 700;
    -fx-border-color: black;
    -fx-stroke: black;
    -fx-text-alignment: center;
    -fx-effect: dropshadow(gaussian, black, 1, 1.0, 1, 1);
}

.lives {
    -fx-fill: yellow;
    -fx-font-family: 'Orbitron';
    -fx-font-size: 36px;
    -fx-font-weight: 700;
    -fx-border-color: black;
    -fx-stroke: black;
    -fx-text-alignment: center;
    -fx-effect: dropshadow(gaussian, black, 1, 1.0, 1, 1);
}

.scorelist {
    -fx-font-size: 20px;
    -fx-font-family: 'Orbitron';
}

.scoreitem {

}

.scorer {

}

.myscore {
    -fx-font-weight: 700;
}

.deadscore {
    -fx-strikethrough: true;
}

.points {
}

.channelList {

}

.channelItem {
    -fx-fill: white;
    -fx-font-family: 'Orbitron';
    -fx-font-size: 16px;
    -fx-font-weight: 700;
    -fx-border-color: black;
    -fx-stroke: black;
}
.channelItem.selected {
    -fx-fill: yellow;
}

.leaderboard {
    -fx-font-size: 16px;
}

.gameBox {
    -fx-padding: 10;
    -fx-background-color: rgba(0, 0, 0, 0.5);
    -fx-border-color: white;
    -fx-border-width: 1;
}
.nextPieceBoard {
    -fx-padding: 10;
    -fx-background-color: rgba(0, 0, 0, 0.5);
    -fx-border-color: pink;
    -fx-border-width: 1;
}

.scroller {
    -fx-background-color: transparent;
}

.scroller .viewport {
    -fx-background-color: transparent;
}

.messages {
    -fx-background-color: transparent;
    -fx-font-size: 12px;
    -fx-font-family: 'Orbitron';
}

.messages Text {
    -fx-fill: white;
}

TextField {
    -fx-border-color: white;
    -fx-border-width: 1px;
    -fx-background-color: rgba(0,0,0,0.5);
    -fx-text-fill: white;
    -fx-prompt-text-fill: grey;
}

.playerBox {
    -fx-font-size: 14px;
    -fx-font-family: 'Orbitron';
}

.playerBox Text {
    -fx-fill: white;
}

.myname {
    -fx-font-weight: 700;
}

.instructions {
    -fx-font-size: 30px;
    -fx-font-family: 'Orbitron';
    -fx-fill: white;
}
.button {
    -fx-background-color: #ff9900;
    -fx-text-fill: white;
    -fx-font-size: 20px;
    -fx-padding: 10px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}
.fancy-button {
    -fx-background-color: linear-gradient(#ff5400, #be1d00);
    -fx-background-radius: 30;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-padding: 10 20 10 20;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.6), 5, 0.0, 0, 1);
}

.fancy-button:hover {
    -fx-background-color: linear-gradient(#ff5400, #d64400);
}
.button-glow {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-family: 'Orbitron';
    -fx-font-size: 30px;
    -fx-padding: 10px;
    -fx-effect: dropshadow(gaussian, rgba(0,255,255,0.8), 15, 0.5, 0, 0);
}

.button-glow:hover {
    -fx-effect: dropshadow(gaussian, rgba(0,255,255,0.8), 25, 0.7, 0, 0);
    -fx-cursor: hand;
}

.button-glow:pressed {
    -fx-effect: dropshadow(gaussian, rgba(0,255,255,0.8), 5, 0.5, 0, 0);
}
.button-glow-red {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-family: 'Orbitron';
    -fx-font-size: 20px;
    -fx-padding: 10px;
    -fx-effect: dropshadow(gaussian, rgba(255,0,0,0.8), 15, 0.5, 0, 0); /* Changed to red glow */
}

.button-glow-red:hover {
    -fx-effect: dropshadow(gaussian, rgba(255,0,0,0.8), 25, 0.7, 0, 0); /* Changed to red glow */
    -fx-cursor: hand;
}

.button-glow-red:pressed {
    -fx-effect: dropshadow(gaussian, rgba(255,0,0,0.8), 5, 0.5, 0, 0); /* Changed to red glow */
}
.fancy-button:hover {
    -fx-background-color: linear-gradient(#ff5400, #d64400);
}
.instructions-glow {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-family: 'Orbitron';
    -fx-font-size: 20px;
    -fx-padding: 10px;
    -fx-effect: dropshadow(gaussian, rgba(0,255,255,0.8), 15, 0.5, 0, 0);
}

.instructions-glow:hover {
    -fx-effect: dropshadow(gaussian, rgba(0,255,255,0.8), 25, 0.7, 0, 0);
    -fx-cursor: hand;
}

.instructions-glow:pressed {
    -fx-effect: dropshadow(gaussian, rgba(0,255,255,0.8), 5, 0.5, 0, 0);
}
